.right-block h3 strong.text-gradiant{
    width: 100%;
    left: 0;
	font-weight: bold;
	font-size: 23px;
    color:#1CB4CB;
}

#carousel-home .carousel-caption{
    position: relative;
    text-align: left;
    left: 0;
    color: #000000;
    text-shadow: none;
}
#carousel-home .carousel-indicators {
    top: -30px;
    right: -5px;
    left: auto;
    width: auto;
    bottom: auto;
}

.group-news-2 .firt-news-item strong {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
    height: 65px;
    overflow: hidden;
}
.group-news-2 ul,.group-news-3 ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.group-news-2 ul li{
    border-top: 2px solid #e9ebee;
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
}
.group-news-2 ul li a{
    font-size: 18px;
    line-height: 1;
}

.parent-group-news-4 {
    background: #f5f5f5;
    padding: 5px 20px;
    border-radius: 6px;
}

.parent-group-news-4 h3 {
    height: auto;
    text-align: center;
}

.parent-group-news-4 h3 strong {
    color: #222;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
}

/*Block right*/
.right-news-list li {
    margin-bottom: 3px;
    display: inline-block;
}
.right-news-list li a {
    font-size: 12px;
}
.right-news-list li img{
    width: 65%;
    padding-right: 6px;
    float: left;
    max-height: 95px;
}
.right-news-list li strong{
    width: calc(35% - 5px);
    display: block;
    float: left;
    line-height: 19px;
    /*text-align: justify;*/
}
#focus-week .tabs-header {
    margin-bottom: 5px;
    display: inline-block;
}
#focus-week .tabs-header li{
    float: left;
    font-family: "Arimo Bold";
    margin: 0px 10px;
}
#focus-week .tabs-header li a{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
}
#focus-week, #business-news {
    border: 1px solid #e6e5e5;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
	padding-top: 0;
}

.video-block {
    margin: 0px 10px 10px 0px;
}

main .left-block .news-ex-item .news-item img {
    height: 160px;
}

.owl-carousel .owl-item img {
    height: 120px;
}

.news-first-item img {
    max-height: 385px;
}

.col-top-header {
    color: #1CB4CB;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col-top-header ul li {
    margin-left: 70px;
}

.col-top-header .float-right {
    margin-right: 85px;
}

hr.line-top-header {
    border-top: 2px solid #1CB4CB;
    margin-top: 0;
    margin-bottom: 10px;
}

.container .left-block #focus-day {
    margin-top: 5px;
}

#focus-day .news-item.col-sm-4 img {
    max-height: 165px;
}

.box-right-left-block {
    background-color: #f5f5f5;
    border: 1px solid #d5d5d5;
    padding: 10px;
}

.box-right-left-block hr {
    border-color: #d5d5d5;
}

.line-left-title {
    width: 5%;
    border-bottom: 3px solid #1CB4CB;
    margin-bottom: 15px;
    margin-right: 10px;
}

.line-right-title {
    width: 73%;
    border-bottom: 3px solid #1CB4CB;
    margin-bottom: 15px;
    margin-left: 15px;
}

.fixed-header {
    /*overflow: hidden;
    position: fixed;
    width: 100%;*/
}

#group-news-0-1 .news-item.col-sm-6 img {
    height: 160px;
}

#group-news-0-1 .col-sm-6 {
    padding-left: 0;
    min-height: 225px;
}

#group-news-0-1 .news-item-info {
    margin-bottom: 15px;
}

#group-news-0-1 .glyphicon {
    display: inline;
    float: left;
    margin-right: 10px;
    color: #1CB4CB;
}

#group-news-0-1 .col-sm-4 .news-item {
    margin-bottom: 25px;
}

#group-news-0-2 .glyphicon {
    display: inline;
    float: left;
    margin-right: 10px;
    color: #1CB4CB;
}

#group-news-0-2 .col-sm-4 .news-item {
    margin-bottom: 25px;
}

#group-news-0-2 .news-item.col-sm-6 img {
    max-height: 145px;
}

#group-news-0-2 .col-sm-6 {
    padding-left: 0;
}

#group-news-slide-2 .item img {
    max-height: 85px;
}

#group-news-0-2 .col-sm-8 .row {
    margin-left: 0;
}

#group-news-0-2 .slide-news {
    margin-right: 0;
}

#group-news-0-2 .owl-item {
    width: 33%;
}

#group-news-0-3 {
    margin-top: 25px;
}

#group-news-0-3 img {
    height: 160px;
}

.category-parent strong {
    font-size: 23px;
    color: #1CB4CB;
    font-weight: bold;
    margin-right: 10px;
}

#group-news-0-4 .col-sm-4 img {
    max-height: 200px;
}

#group-news-0-5 img {
    height: 160px;
}

#group-news-0-6 img {
    height: 160px;
}

#group-news-0-7 .col-sm-4 .news-item img {
    max-height: 225px;
}

#group-news-0-7 hr {
    border-color: #1CB4CB;
}

#group-news-0-7 {
    margin-bottom: 20px;
}

header nav .container {
    padding-left: 0;
    padding-right: 0;
}

li.dropdown.main-menu {
    margin-left: 35px;
    font-size: 15px;
}

p.f-title {
    font-size: 17px;
}