.child-category {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 10px;
}

.child-category li {
    float: left;
    color: #e5e5e5;
    padding: 0 5px;
}

.child-category li a {
    color: #8c8c8c;
    text-transform: none;

}

.group-news-5 .news-item {
    display: inline-block;
}

.group-news-5 .news-item img {
    /*width: 40%;*/
    margin-right: 10px;
}

.group-news-5 .news-item span {
    color: #bfbebe;
}

.group-news-6 ul li {
    height: 70px;
    overflow: hidden;
    padding: 10px 0;
}

.group-news-6 a {
    font-size: 18px;
}

.group-news-6 a.first strong {
    height: 95px;
    overflow: hidden;
    display: block;
    padding: 10px 0;
}

.news-detail-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-detail-detail img {
    max-width: 80%;
}

.news-detail-tag li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#comment-block {
    margin-bottom: 20px;
    margin-top: 15px;
}

#comment-block .comment-input-block {
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #f2f1f1;
    border-radius: 5px;
}

#comment-block .comment-input-block textarea {
    height: 100px;
}

#comment-block .comment-input-block .btn {
    border-radius: 0;

    border: 1px solid #ccc;

}

#comment-block .comment-input-block .btn:hover {
    background: #ffffff;
}

#comment-block .comment-input-block .comment-control-block {
    margin-top: 10px;
}

#comment-block .comment-list-block {
    padding: 15px;
    border: 1px solid #f2f1f1;
    margin-top: 15px;
    margin-bottom: 15px;
}

#comment-block .comment-list-block span {
    color: #bfbebe;
}

#news-hot-event {
    background: #ffd220;
    padding: 20px;
}

#news-hot-event .tabs-header {
    margin-bottom: 20px;
    display: inline-block;
}

#news-hot-event .tabs-header li {
    float: left;
    font-family: "Averta Bold";
}

#news-hot-event .tabs-header li a {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
}

#news-hot-event .border-gradiant-round {
    background: #ffd220;
    color: #ffd220;
}

#news-hot-event .news-hot-video-event {
    padding: 15px;
    border: #e6e5e5 1px solid;
    margin-top: 15px;
    display: inline-block;
}

#news-hot-event .news-hot-video-event .right-news-list li {
    display: inline-block;
    margin-bottom: 10px;
}

#news-hot-event .news-hot-video-event .right-news-list li img {
    width: 60%;
    float: left;
    margin-right: 10px;
}

#news-hot-event .left-block {
    position: relative;
}

#news-hot-event .left-block .border-gradiant-round.event-tag {
    position: absolute;
    top: 14px;
    left: 186px;
}

#news-hot-event .right-block {
    position: relative;
}

#news-hot-event .right-block .news-hot-video-event img {
    max-height: 94px;
}

#news-hot-event .right-block .border-gradiant-round.event-tag {
    position: absolute;
    top: 45px;
    left: 95px;
}
